.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    height: 580px;
}

.grid-div{
    flex: 1;
    aspect-ratio: 1/1;
    background-color: aqua;
}

.grid-div:hover{
    background-color: rgb(140, 165, 238);
}